
<!--navbar-->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="button is-large">Home</a>
        <a href="/saved" class="button is-large">Saved Articles</a>
        <a class="button is-large ">Scrape New Articles</a>
        
    </div>
</nav>
<!--top banner-->
<section class="hero is-$black">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 is-centered">Scraper News</h1>

        </div>
    </div>
</section>
<!--cards for dispalying news articles-->
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <span class="icon is-medium">
                    <i class="fas fa-lg fa-newspaper"></i>
                </span>

                <h2 class="title" id="headline"></h2>
                <h3 class="subtitle" id="summary"></h3>
                <a href="" class="button">Go To The Source</a>
                <a href="" class="button">Save For Later</a>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="../../assets/javascript/index.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>